extends layouts/main.pug

block content 
    main 
        h1 My Products
        if products.length > 0
            div.products 
                each product in products 
                    div.product
                        h2 #{product.title}
                        p  #{product.id}
        else 
            div.no-product 
                p No Product to display



        